
body{
    margin: 0;

}

.menu{
    margin-top: -30px;
    position: absolute;
}


a{
    margin: 30px;
    position: relative;
}
nav{
    margin-top: 30px;
    justify-self: center;
}

.exemple{
    width: 200px;
    margin-top: 60px;
}

article{
    border: solid 5px rgb(148, 171, 208);
    border-radius: 20px;
    height: 220px;
    width: 800px;
    display: flex;
    margin: 20px;
    margin-top: 40px;
    padding: 15px;
}
article p {
    margin: 10px;
    align-items:self-start;
    color: rgb(148, 171, 208);
}
