
body{
    margin: 0;

}

.menu{
    margin-top: -30px;
    position: absolute;
}


a{
    margin: 30px;
    position: relative;
}
nav{
    margin-top: 30px;
    justify-self: center;
}

.exemple{
    width: 200px;
    margin-top: 60px;
}

article{
    border: solid 2px black;
    border-radius: 20px;
    height: 200px;
    width: 800px;
    display: flex;
    margin: 20px;
    margin-top: 40px;
}
