
.fond_pro{
    position: absolute;
    margin: 0px;
    padding: 0px;
    top:-12px;
    z-index : -3;
    width: 100vw ;
    height: 120vw;
}

.etoile {  
    margin-top:-10px ;
    margin-left: 680px;
    display: block; /* ou inline-block */
    width: 70px; 
    position: absolute;
    height: 70px;
    background-image: url('/asset/etoile.png'); 
    background-size: contain; /* contain est souvent mieux pour des icônes */
    background-repeat: no-repeat;
    background-position: center; /* Pour être sûr que l'image est centrée */
    flex-shrink: 0; /* Empêche l'étoile de s'écraser si le texte est trop long */
}

.etoile:hover {
    background-image: url('/asset/etoile_brille.png');
    cursor: pointer;
    animation: rotation 2s infinite linear;
}

.deco{
    border: solid 5px  #4885A8;
    border-radius: 30px;
    margin: 10px;
    width: 830px; 
    display: flex;
    justify-self: center;  
    background-color: white;
}

.description{
    margin-left: 20px;
}
.description p{
    font-size: 20px;
     margin: 10px;
     color: #4885A8;
}

.illu{
    height: 200px;
    width: 400px;
}


.titre_video{
    display: none;
}
.card { 
    border: solid 10px  #85d4dc;
    border-radius: 20px;
    height: 220px;
    width: 750px;
    margin: 20px;
    padding: 10px;
     display: flex;
    justify-self: center;  
  
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 900px) {
   .deco{
     width: 310px;
     height: 300px;
   }
   .video{
    display: none;
   }
   .etoile{
    margin-top: 160px;
    margin-left: 173px;
   }
    .card{
    width: 230px;
    display: flex;
    flex-direction: column;
   }
   .illu{
    display: none;
   }
    .description{
    margin: 0px;
   }
}
