

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


h2{
    display: flex;
    justify-self: center;
}
.banderol{
    background-color: white;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 100%;
    border: 2px solid #4885A8;
   z-index: -10;
   position: relative;
    
}
.affiche{ 
    margin: 50px;
    justify-self: center;
  
}

body{
    margin: 0 ;
    background-color: #C8E8FD;
    z-index: 100;
  
}

.menu{
    margin-top: -30px;
    position: absolute;
    
}


.lien_page{
    margin: 30px;
    position: relative;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}
.lien_page:hover{
   box-shadow: 2px 2px 2px 2px #337686;
   background-color: #39a3ac;
   
}
nav{
    margin-top: 30px;
    justify-self: center;
    background-color: #4885A8;
    width: 40%;
    padding: 20px;
    border-radius: 60px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 2px 2px 2px 1px #13202C;
    text-align: center;
 
}

.exemple{
    width: 200px;
    margin-top: 60px;
}

article{
    border: solid 5px  #83D9F3;
  
    border-radius: 20px;
    height: 220px;
    width: 750px;
    margin: 20px;
    padding: 10px;
     display: flex;
    justify-self: center;  
  
}
.déco{
     border: solid 5px  #4885A8;
     
    border-radius: 30px;
    margin: 10px;
    width: 820px; 
     display: flex;
    justify-self: center;  
    background-color: white;
}

.description{
    margin-left: 20px;
}

.etoile{
    margin-top:-10px ;
    margin-left: 150px;
}
.etoile {
    display: block; /* ou inline-block */
    width: 70px; 
    height: 70px;
    background-image: url('/asset/etoile.png'); 
    background-size: contain; /* contain est souvent mieux pour des icônes */
    background-repeat: no-repeat;
    background-position: center; /* Pour être sûr que l'image est centrée */
    flex-shrink: 0; /* Empêche l'étoile de s'écraser si le texte est trop long */
}

.etoile:hover {
    background-image: url('/asset/etoile_brille.png');
    cursor: pointer;
    animation: rotation 2s infinite linear;
}
.sidebar{
    display: flex;
    flex-direction: column;
    background-color: #4885A8;
    border-radius: 0px 10px 10px 0px;
    text-align: center;
    width: 200px;
    margin-left: 0px;
    position: fixed;
    box-shadow: 2px 2px 2px 1px #13202C;
    
}
.titre_video{
    display: none;
}

.form_contact{
    justify-self: center;
    margin: 40px;
    border:  2px solid black;
    border-radius: 10px;
    padding: 15px;
}
/* 1. On définit le mouvement */

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 900px) {
   article{
    width: 230px;
    display: flex;
    flex-direction: column;
   }
   .déco{
     width: 300px;
     height: 290px;
   }
   .description{
    display: none;
   }
   .etoile{
    margin-top: -40px;
    margin-left: 173px;
   }
   nav{
    display: none;
   }
   .titre_video{
    display: block;
   }
}
