
h2{
    display: flex;
    justify-self: center;
}
.banderol{
    background-color: white;
    padding: 5px;
    margin-bottom: 15px;
    border: 2px solid #4885A8;
}
.affiche{ 
    margin: 50px;
    justify-self: center;
  
}

body{
    margin: 0 ;
    background-color: #C8E8FD;
  
}

.menu{
    margin-top: -30px;
    position: absolute;
    
}


.lien_page{
    margin: 30px;
    position: relative;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}
.lien_page:hover{
   box-shadow: 2px 2px 2px 2px #13202C;
   
}
nav{
    margin-top: 30px;
    justify-self: center;
    background-color: #4885A8;
    width: 40%;
    padding: 20px;
    border-radius: 60px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 2px 2px 2px 1px #13202C;
    text-align: center;
}

.exemple{
    width: 200px;
    margin-top: 60px;
}

article{
    border: solid 5px  #83D9F3;
  
    border-radius: 20px;
    height: 220px;
    width: 750px;
    margin: 20px;
    padding: 10px;
     display: flex;
    justify-self: center;  
  
}
.déco{
     border: solid 5px  #4885A8;
     
    border-radius: 30px;
    margin: 10px;
    width: 820px; 
     display: flex;
    justify-self: center;  
    background-color: white;
}

.description{
    margin-left: 20px;
}

.etoile{
    margin-top:-10px ;
    margin-left: 160px;
}
.etoile{
    margin-top:-10px ;
    margin-left: 150px;
    display: inline-block;
    width: 70px; 
    height: 70px;
    background-image: url('../asset/etoile.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.1s;
}

.etoile:hover {
    background-image: url('../asset/etoile_brille.png');
    cursor: pointer;
    animation: rotation 2s infinite linear;
}

/* 1. On définit le mouvement */

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


  