.text_detail{
    color:#337686;
     font-size: 25px;
}

.fond_pro{
    position: absolute;
    margin: 0px;
    padding: 0px;
    top:-12px;
    z-index : -3;
    width: 100vw ;
    height: 120vw;
}
.details{
    display: flex;
    justify-self: center;
    flex-direction: column;
    width: 600px;
}

.retour{
    margin: 30px;
    position: relative;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #337686;
    background-color: #39a3ac;
}

.video {
  width: 50%;
  aspect-ratio: 16 / 9; 
  border-radius: 20px;   
  border: none;
  margin-left:25%;

}

.description{
    padding: 15px;
    margin-left: -60px;
    justify-self: center;
    width: 45%;
}
    
@media screen and (max-width: 900px) {
    .video {
        width: 95%;
        margin-left:3% ;
}
    .description{
        padding: 15px;
        margin-left: 0px;
        justify-self: center;
    }
}